@import url(https://fonts.bunny.net/css?family=poppins:400,600|pt-serif:400,700);

:root {
	font-size: 62.5%;
	font-family: var(--font-primary);
	font-weight: var(--fw-normal);
	--font-primary: "Poppins", sans-serif;
	--font-secondary: "PT Serif", serif;
	--fw-normal: 400;
	--fw-bold: 600;
	--fw-bolder: 700;
	--black: hsl(0, 0%, 0%);
	--font-size-sm: 1.6rem;
	--font-size: 1.8rem;
	--font-size-2xl: 3.6rem;
}